.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 26px;
  border-bottom: 2px solid #F8E8EE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FDCEDF;
  z-index: 1001;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: black;
  font-size: 28px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 70px;
  color: #ffffff;
  font-size: 18px;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 100%;
  height: 3px;
  background: #F8E8EE;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-login-cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px #F9F5F6 ;
  border-radius: 38px;
  font-size: 18px;
  background-color: #F2BED1;
  cursor: pointer;
  transition: background-color 0.5s;
  color: black;
}
.nav-login-cart button:active {
  background-color: #F8E8EE;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-cart-count {
  background-color: #ff4141;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -10px;
  color: white;
}
