.new-collections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 140vh;
  margin-top: 95px;
 background: linear-gradient(180deg,#ffffff ,#ffaaaa 90%);
}
.new-collections h1{
  margin-top: 30px;
  color: black;
  font-size: 40px;
  font-weight: 600;
}
.new-collections hr{
  width: 200px;
  margin-bottom: 40px;
  height: 6px;
  border-radius: 10px;
  background-color: #252525;

}
.collections{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 0;
}